#bd {
    background-image: url('Assets/uskt.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

/*----Login Form----*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-form {
    background: rgba(255, 255, 255, 0.7); 
    -webkit-backdrop-filter: blur(2px); 
    backdrop-filter: blur(2px); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container .icon-user {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 1.2em;
}
.input-container .icon-lock {
    position: absolute;
    left: 10px;
    top: 30%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 1.2em;
}
.input-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translateY(-50%);
    color: #aaa;
    cursor: pointer;
    font-size: 1.2em;
}


.input-container input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    box-sizing: border-box;
    font-size: 1em; /* Ensure consistent font size */
}

.input-container input:focus {
    border-color: #007bff;
}

.forgot-link {
    display: block;
    text-align: right;
    margin-top: 10px;
    font-size: 0.9em;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.forgot-link:hover {
    color: #0056b3;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: #0056b3;
}
